<h2>Vloge uporabnika <%=h @user.login.capitalize %></h2>
 
<h3>Dodeljene vloge:</h3>
<ul><%= render :partial => 'role', :collection => @user.roles %></ul>
 
<h3>Razpoložljive vloge:</h3>
<ul><%= render :partial => 'role', :collection => (@all_roles - @user.roles) %></ul>
