<h1>Kategorije</h1>
<p>
	<% for category in @categories %>
		<% if category.root? %>
		<li><%= link_to h(category.name), category_path(category) %></li>
		<% end %>
	<% end %>
</p>

<%= link_to 'Back', categories_path %>

